@import '../../../styles/base/colors';
@import '../../../styles/layout/flex.mixin';
@import '../../../styles/components/solid-border.mixin';

$padding-size: 10px;

.text-input {
  @include solid-border($color: $gray);
  width: 250px;
  box-sizing: border-box;
  margin: 0 10px;
  padding: $padding-size;
  background: $white;
  transition: all 0.3s ease-in-out;
  font: 95% Arial, Helvetica, sans-serif;
  color: $disabled-color;
  outline: none;

  &.ng-touched:not(.ng-valid) {
    @include solid-border($color: $error-color);
    box-shadow: 0 0 5px $error-color;
    padding: $padding-size;
  }

  &.ng-touched.ng-invalid ~ .text-input__error-container .text-input__error-message {
    @include flex($align-items: center, $justify-content: center);
  }
}

.text-input:focus {
  @include solid-border($color: $bar-color);
  box-shadow: 0 0 5px $bar-color;
  padding: $padding-size;
}

.text-input__error-message {
  display: none;
  color: $error-color;
  font-size: 10px;
}

.text-input__error-container {
  height: 10px;
  margin: 5px;
}
