@import "../../../styles/base/colors";
@import "../../../styles/layout/flex.mixin";

.text-input {
  width: 250px;
  transition: all 0.30s ease-in-out;
  outline: none;
  box-sizing: border-box;
  background: #fff;
  margin: 0 10px;
  border: 1px solid #ccc;
  padding: 10px;
  color: $disabled-color;
  font: 95% Arial, Helvetica, sans-serif;

  &.ng-touched:not(.ng-valid) {
    box-shadow: 0 0 5px #f35542;
    padding: 10px;
    border: 1px solid #f35542;
  }

  &.ng-touched.ng-invalid ~ .text-input__error-container .text-input__error-message {
    @include flex($align-items: center, $justify-content: center);
  }
}

.text-input:focus {
  box-shadow: 0 0 5px $bar-color;
  padding: 10px;
  border: 1px solid $bar-color;
}

.text-input__error-message {
  display: none;
  color: $error-color;
  height: 10px;
  font-size: 10px;
  line-height: 10px;
}

.text-input__error-container {
  height: 10px;
  margin: 5px;
}
