@import "../../../../mixins/main-font.mixin";
@import "../../../../mixins/expense-item-button.mixin";
@import "../../../../../../../../mixins/form-title.mixin";
@import "../../../../../../../../styles/base/colors";
@import "../../../../../../../../styles/layout/flex.mixin";

.expense-item {
  @include main-font();
  @include expense-item-button();

  &__icon {
    $size: 100px;
    width: $size;
    height: $size;
    object-fit: cover;
    padding: 10px;
    color: $accent-color;
    fill: $bar-color;
    background-color: $main-background-color;
    border-radius: 25%;
  }

  &__title {
    @include form-title();
  }

  &__expense {
    @include flex($align-items: center, $justify-content: center);
    box-sizing: border-box;
    width: calc(140px - 4px);
    height: 50px;
    background-color: $main-color;
  }

  &__expense, &__title {
    padding: 2.5px;
  }
}




