@import "../../../mixins/date-controller-button.mixin";
@import "../../../../../../../styles/layout/flex.mixin";

.expense-list {
  @include flex($flex-wrap: wrap, $justify-content: space-around, $align-items: center);
  height: auto;
  max-height: 100%;
  width: 100%;
  overflow-y: auto;
}

.modal-window__label {
  @include flex($flex-direction: column);
  padding: 10px;

}

.modal-window__input {
  font-size: 20px;
  padding: 5px;


}

::-webkit-inner-spin-button {
  display: none;
}

.modal-window__button {
  @include button(100%);
}

