@import "../../../mixins/application-item.mixin";
@import "../../../../../mixins/form-title.mixin";
@import "../../../../../mixins/form-submit-input.mixin";
@import "../../../../../styles/base/colors";
@import "../../../../../styles/components/solid-border.mixin";
@import "../../../../../styles/layout/flex.mixin";

.settings-page {
  @include application-item();
  @include flex($flex-direction: column, $align-items: center, $justify-content: center);

  &__title {
    @include form-title(1.2rem);
  }

  &__user-avatar {
    @include solid-border($size: 3px, $color: $main-color);
    $size: 160px;
    display: block;
    width: $size;
    height: $size;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 50%;
  }

  &__form {
    @include flex($flex-direction: column, $align-items: center);
    width: auto;
  }

  &__label {
    @include flex($flex-direction: column, $align-items: center);
    text-transform: uppercase;
    color: black;
    font: 95% Arial, Helvetica, sans-serif;
    margin-top: 10px;
  }

  &__input-text {
    &.ng-touched:not(.ng-valid) {
      box-shadow: 0 0 5px $error-color;
      padding: 10px;
      border: 1px solid $error-color;
    }
  }

  &__submit-button {
    @include form-submit-input();
  }
}

