<div class="settings-page">
  <h2 class="settings-page__title">
    {{'settings.title' | translate}}
  </h2>
  <form
    (ngSubmit)="submit($event)"
    class="settings-page__form"
    [formGroup]="settingForm"
  >

    <ng-container *ngFor="let input of inputs" [ngSwitch]=input.type>
      <app-text-input
        *ngSwitchCase="InputTypes.Text"
        [inputData]="input"
        [control]="getControl(input.name)"
        [value]="userService.userSettings.username"
      ></app-text-input>

      <app-image-input
        [previewImage]="userService.userSettings.userAvatarUrl"
        (imageSelected)="getNewUserAvatar($event)"
        *ngSwitchCase="InputTypes.File"
        [inputData]="input"
        [control]="getControl(input.name)"
      ></app-image-input>
    </ng-container>

    <input
      class="settings-page__submit-button"
      [type]=InputTypes.Submit
      [attr.value]="'settings.save' | translate"
      [disabled]="settingForm.pristine || settingForm.invalid"
    />
  </form>

</div>

