@mixin flex($flex-direction: row, $align-items: stretch, $justify-content: normal, $flex-wrap: nowrap) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: $align-items;
  justify-content: $justify-content;
  flex-wrap: $flex-wrap;
}
