@import '../../../../../styles/base/colors';

@mixin button($width) {
  height: 100%;
  width: $width;
  background-color: $main-color;
  color: $light-text-color;
  font-weight: bold;
  font-size: 20px;
  border: none;

  &:hover {
    background-color: $main-hover;
  }
}
