@mixin button($width) {
  height: 100%;
  width: $width;
  background-color: #03A9F4;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: none;

  &:hover {
    background-color: #03b1ff;
  }
}

@mixin button-close($width) {
  @include button($width);
  background-color: #f33a30;

  &:hover {
    background-color: #ff5747;
  }
}

