@mixin expense-item-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 220px;
  color: white;
  background-color: #fff;
  border-radius: 1px;
  margin: 10px 5px;
  padding: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
