@import "../../../../../styles/layout/flex-column-center-middle.mixin";
@import "../../../../../styles/base/colors";

@mixin expense-item-button {
  @include flex-column-center-middle();
  width: 140px;
  height: 220px;
  color: $light-text-color;
  background-color: $main-background-color;
  border-radius: 1px;
  margin: 10px 5px;
  padding: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
