@import "../../../../mixins/button-font.mixin";
@import "../../../../mixins/expense-item-button.mixin";
@import "../../../../../../mixins/form-title.mixin";

.expense-item{
  @include button-font();
  @include expense-item-button();

  &__icon{
    width: 100px;
    height: 100px;
    padding: 10px;
    color: #4a90ff;
    fill: #2196F3;
    background-color: white;
    border-radius: 25%;
  }

  &__title{
    @include form-title();
  }

  &__expense{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: calc(140px - 4px);
    height: 50px;
    background-color: #03A9F4;
  }

  &__expense, &__title{
    padding: 2.5px;
  }
}

.startAsBlack{
  display: inline-block;
  width: 50px;
  height: 50px;
  background: black;
}

.black-green{
  filter: invert(43%) sepia(96%) saturate(1237%) hue-rotate(88deg) brightness(128%) contrast(119%);
}

.black-red{
  filter: invert(37%) sepia(93%) saturate(7471%) hue-rotate(356deg) brightness(91%) contrast(135%);
}

.black-blue{
  filter: invert(12%) sepia(83%) saturate(5841%) hue-rotate(244deg) brightness(87%) contrast(153%);
}

.black-purple{
  filter: invert(18%) sepia(98%) saturate(2657%) hue-rotate(289deg) brightness(121%) contrast(140%);
}

.black-white{
  filter: invert(100%) sepia(98%) saturate(2657%) hue-rotate(289deg) brightness(121%) contrast(140%);
}




