<button
  class="expense-item"
  (click)="openModal()"
>
  <ng-container *ngIf="expenseItemConfig">
    <span
      class="expense-item__title"
    >
      {{!expenseItemConfig.title ? expenseItemConfig.name : expenseItemConfig.title | translate}}
    </span>
    <img
      class="expense-item__icon"
      [src]=expenseItemConfig.imageUrl
      alt="icon"
    >
    <span
      class="expense-item__expense"
    >
      {{currentCostValue}} {{presetService.currencySymbol}}
    </span>
  </ng-container>
</button>

