@import "../styles/layout/flex.mixin";

@mixin form-title($font-size: 95%, $color: black) {
  @include flex($align-items: center, $justify-content: center);
  width: 100%;
  height: 40px;
  text-transform: uppercase;
  color: $color;
  font: $font-size Arial, Helvetica, sans-serif;
}
