@import "../../../main/mixins/form-title.mixin";
@import "../../../main/mixins/form-submit-input.mixin";

.authorization-form__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: calc(100vh - 60px);
  background-color: #fcfcfc;
}

.authorization-form__title{
  @include form-title();

}

.authorization-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}

.authorization-form__input{
  width: 80%;
}

.authorization-form__submit:hover{
  background: #1976D2;
}

.authorization-form__submit{
  @include form-submit-input()
}


