<div class="authorization-form__container">
  <h2 class="authorization-form__title">
    {{ 'authorization.' + formTitle | translate }}
  </h2>

  <form (ngSubmit)="submitHandler(this.authorizationForm)" class="authorization-form" [formGroup]="authorizationForm">
    <app-text-input
      class="authorization-form__input"
      [inputData]="input"
      [control]="getControl(input.name)"
      *ngFor="let input of inputs"
    >
    </app-text-input>

    <input
      class="authorization-form__submit"
      [type]="inputTypes.Submit"
      [attr.value]="'authorization.send' | translate"
      [disabled]="authorizationForm.invalid"
    />
  </form>
</div>
