@import "../../../../mixins/form-title.mixin";
@import "../../../../mixins/form-submit-input.mixin";
@import "../../../../styles/layout/flex-column-center-middle.mixin";
@import "../../../../styles/base/colors";


.authorization-form__container {
  @include flex-column-center-middle();
  width: 100vw;
  height: calc(100vh - 60px);
  background-color: $main-background-color;
}

.authorization-form__title {
  @include form-title();

}

.authorization-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 300px;
  max-width: 500px;
  height: auto;
}

.authorization-form__submit:hover {
  background: #1976D2;
}

.authorization-form__submit {
  @include form-submit-input()
}


