@import "../../../../mixins/form-title.mixin";
@import "../../../../mixins/form-submit-input.mixin";
@import "../../../../styles/base/colors";
@import "../../../../styles/base/sizes";
@import "../../../../styles/layout/flex.mixin";

.authorization-form__container {
  @include flex($flex-direction: column, $justify-content: center, $align-items: center);
  width: 100vw;
  height: calc(100vh - #{$auth-toolbar});
  background-color: $main-background-color;
}

.authorization-form__title {
  @include form-title();
}

.authorization-form {
  @include flex($flex-direction: column, $align-items: center, $justify-content: center);
  min-width: 300px;
  max-width: 500px;
  height: auto;
}

.authorization-form__submit:hover {
  background: $menu-color;
}

.authorization-form__submit {
  @include form-submit-input()
}


