@import "../../application/pages/main/mixins/button-font.mixin";
@import "../../../styles/base/colors";

.overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
}

.black {
  background: rgba(0, 0, 0, 0.7);
}

.clear {
  background: none;
}

.dialog {
  @include button-font();
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background-color: $main-background-color;
  color: $dark-text-color;
  min-width: 250px;
  width: fit-content;
  height: auto;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
