@import "../../application/pages/main/mixins/main-font.mixin";
@import "../../../styles/base/colors";
@import "../../../styles/layout/flex.mixin";

.overlay {
  @include flex($flex-direction: column, $align-items: center, $justify-content: center);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.black {
  background: $modal-background-black;
}

.clear {
  background: none;
}

.dialog {
  @include flex($flex-direction: column);
  @include main-font();
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background-color: $main-background-color;
  color: $dark-text-color;
  min-width: 250px;
  width: fit-content;
  height: auto;
  max-height: 80vh;
  overflow-y: auto;
}
