<div class="report-table">

  <app-information-span
    [inputData]=costList.length
  ></app-information-span>

  <ul class="cost">
    <li *ngFor="let cost of costList">
      <div class="cost__main-info-container">
        <span class="cost__date">
          {{cost.costDate | date: DateFormat.UIS}}
        </span>

        <span class="cost__category">
          {{!cost.costLocalizationKey ? makeFirstLetterCapital(cost.costType) : cost.costLocalizationKey | translate}}
        </span>

        <span class="cost__value">
          {{cost.costValue | currency:' '}}{{this.presetService.currencySymbol}}
        </span>
      </div>

      <p class="cost__description">
        {{cost.costDescription}}
      </p>
    </li>
  </ul>
</div>
