@import "../../mixins/main-font.mixin";
@import "../../../../../../mixins/form-title.mixin";
@import "../../../../../../styles/base/colors";
@import "../../../../../../styles/layout/flex.mixin";

:host {
  height: inherit;
}

.report-table {
  height: inherit;
  width: 100%;
  overflow-y: auto;
}

.cost {
  @include flex($flex-direction: column);

  &__main-info-container {
    display: flex;
  }

  &__description {
    padding: 10px;
    border-bottom: 1px solid $main-color;
    font-weight: normal;
    font-family: sans-serif;
  }

  &__date, &__value, &__category {
    @include flex($justify-content: center, $align-items: center);
    width: 50%;
    padding: 10px;
  }

  &__date {
    @include main-font($color: $dark-text-color, $size: 1rem);
  }

  &__value {
    @include main-font($color: $report-table-value, $size: 1rem);
  }

  &__category {
    @include main-font($color:$main-color, $size: 1rem);
  }
}
