@import "../../../mixins/button.mixin";
@import "../../../../../../../styles/base/colors";
@import "../../../../../../../styles/base/sizes";
@import "../../../../../../../styles/layout/flex.mixin";

.date-picker {
  @include flex($justify-content: space-between);
  width: $date-modal-width;
  height: $date-picker-height;
  border-radius: .125rem;
  background-color: $main-color;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

  .date-picker__day-switcher {
    @include button(20%);
  }

  .day-menu {
    @include button(60%);
  }
}
