<div class="date-picker">
  <button
    class="date-picker__day-switcher"
    (click)="changeDate(timeInterval, this.dateService.Direction.Back)"
  >
    {{ButtonsSign.LeftArrow}}
  </button>

  <button
    class="day-menu"
    aria-label="Date"
    (click)="openDateSwitcher()"
  >
    {{dateService.valueToDisplay | translate}}
  </button>

  <button
    class="date-picker__day-switcher"
    (click)="changeDate(timeInterval, this.dateService.Direction.Forward)"
  >
    {{ButtonsSign.RightArrow}}
  </button>
</div>
