@import "../../../../styles/base/colors";

.toolbar {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 45px;
  background-color: $bar-color;
  font-family: sans-serif;
}

.toolbar__menu-button {
  height: 100%;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $light-text-color;
  background: $bar-color;
  border: none;
  font-size: 1.5rem;
  padding: 5px;
  margin: 0 10px;
  transition: all 0.4s ease 0s;
}

.toolbar__background {
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, .1);
}

.toolbar__tools-container {
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
  height: calc(100vh - 90px);
  transition: left .5s;
  z-index: 2;
}

.toolbar__tools-wrapper {
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #1976D2;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.tools-list__item {
  display: block;
  margin: 0;
  color: $light-text-color;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 1px solid gray;

  &:hover {
    background-color: rgba(255, 255, 255, .1);
    cursor: pointer;
  }
}

.tools-list__link {
  display: block;
  color: inherit;
  text-decoration: none;
}

.hidden {
  left: -100%;
}
