@import "../../../../styles/base/colors";

.navbar {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: auto;
  background-color: $bar-color;
  font-family: sans-serif;
}

.link-list {
  display: flex;

  &__item {
    width: auto;
    height: auto;
  }

  &__item:hover {
    background-color: $link-item-hover-color;
    color: $dark-text-color;
  }
}

.link {
  float: left;
  display: block;
  color: $light-text-color;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color: $menu-color;
  color: $light-text-color;
}
