@import "../../../../styles/base/colors";

.toolbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 60px;
  background-color: $bar-color;
  color: $light-text-color;
  font-weight: 600;
}
