<div class="toolbar">
  <button class="toolbar__menu-button" (click)="openToolbar()">☰</button>
  <app-total-cost></app-total-cost>
    <div #toolsContainer class="toolbar__tools-container hidden" (click)="onOverlayClicked($event)">
      <div class="toolbar__tools-wrapper" (click)="onToolbarClicked($event)">
        <ul class="tools-list">
          <li class="tools-list__item">Settings</li>
          <li class="tools-list__item">
            <app-dropdown-menu
              menuName="currency"
              [openedDropdown]="openedMenu"
              (dropdownChange)="onChangeDropdown($event)"
            ></app-dropdown-menu>
          </li>
          <li class="tools-list__item">
            <app-dropdown-menu
              menuName="language"
              [openedDropdown]="openedMenu"
              (dropdownChange)="onChangeDropdown($event)"
            ></app-dropdown-menu>
          </li>
        </ul>
      </div>
    </div>
</div>
