@import '../../../../../styles/base/colors';

$color-shadow: rgba(255, 255, 255, 0.1);
$main-padding: 15px;
$dropdown-width: 100px;

.dropdown__open-button {
  width: $dropdown-width;
  background-color: $accent-color;
  color: $light-text-color;
  padding: $main-padding;
  font-size: 16px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;

  &::after {
    $size: 5px;
    $border: 2px solid $light-text-color;
    content: ' ';
    display: inline-block;
    width: $size;
    height: $size;
    margin: 0 5px 2px;
    transform: rotate(45deg);
    border-bottom: $border;
    border-right: $border;
  }

  &:hover,
  &:focus {
    background-color: $color-shadow;
  }
}

.dropdown__name {
  display: inline-block;
  width: 120px;
  color: $light-text-color;
  text-align: center;
  padding: 14px $main-padding;
  font-size: 17px;
}

.dropdown {
  display: inline-block;
  width: 100%;
  position: relative;
}

.dropdown__content {
  right: 0;
  width: auto;
  display: none;
  position: absolute;
  background-color: $accent-color;
  box-shadow: $box-shadow;
  z-index: 1;
}

.dropdown__item {
  width: $dropdown-width;
  color: $light-text-color;
  padding: 12px $main-padding;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid gray;
  background-color: $accent-color;
  cursor: pointer;
  text-transform: uppercase;

  &:hover {
    background-color: $color-shadow;
  }
}

.show {
  display: block;
}
