<div class="image-input">
  <app-image-with-mask
    class="image-input__preview"
    [imageForMask]="previewImage"
    [maskColor]="maskColor"
  ></app-image-with-mask>
  <span
    class="image-input__error-span"
    *ngIf="!validFileFormat"
  >
    Invalid image format
  </span>
  <input
    class="image-input__input"
    [formControl]="control"
    [name]="inputData.name"
    [type]="inputData.type"
    [id]="inputData.name"
    (change)="changePreviewImage($event)"
  />
  <label
    class="image-input__input-label"
    [for]="inputData.name"
  >
    {{inputData.placeholder | translate}}
  </label>
</div>

