$main-color: #03A9F4;
$main-hover: #03b1ff;
$main-background-color: white;
$menu-color: #1976D2;
$accent-color: #4a90ff;
$bar-color: #2196F3;
$disabled-color: #555555;
$link-item-hover-color: #BBDEFB;
$error-color: #f35542;
$gray: #ccc;
$white: #fff;
$modal-background-black: rgba(0, 0, 0, 0.7);
$report-table-value: red;

$dark-text-color: black;
$light-text-color: white;

$box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
